Repository wml-frc/WML, pull requests merged in 2022-02, with the labels that each got.

#76 NavX quick fix (removed desktop support)
  Test/src/main/cpp/main.cpp
  UDP_TransferNT/build.gradle
  WML-Core/build.gradle
  WML-Core/src/main/cpp/sensors/NavX.cpp
  WML-Rev/build.gradle
  shared/mainBuild.gradle
  shared/robot.gradle
Labels: Gradle

#77 Fixed NavX Dummy System
  Test/build.gradle
  Test/src/main/cpp/main.cpp
  UDP_TransferNT/build.gradle
  WML-Core/build.gradle
  WML-Rev/build.gradle
  shared/mainBuild.gradle
  shared/robot.gradle
Labels: bug, enhancement, Gradle

#80 Update to strategies to support passive strategies and fix arg refere…
  WML-Core/build.gradle
  WML-Core/src/main/cpp/strategy/StrategyBuilder.cpp
  WML-Core/src/main/cpp/strategy/StrategyController.cpp
  WML-Core/src/main/include/strategy/Strategy.h
  WML-Core/src/main/include/strategy/StrategyBuilder.h
  WML-Core/src/test/cpp/test_Strategy.cpp
  WML-Core/src/test/cpp/test_StrategyBuild.cpp
Labels: bug, enhancement

#81 2022 update
  WML-Core/build.gradle
  WML-Core/src/main/cpp/strategy/StrategyBuilder.cpp
  WML-Core/src/main/cpp/strategy/StrategyController.cpp
  WML-Core/src/main/include/strategy/Strategy.h
  WML-Core/src/main/include/strategy/StrategyBuilder.h
  WML-Core/src/test/cpp/test_Strategy.cpp
  WML-Core/src/test/cpp/test_StrategyBuild.cpp
Labels: enhancement, Gradle, publishing
